.base-button {
  color: #337ab7;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #dddddd;
  border-collapse: collapse;
  float: left;
  margin-left: -1px;
  /*
  解决IOS手机onClick失效
  */
  cursor: pointer;
}
.base-button:hover {
  background: #eeeeee;
}

.z_pager_container {
  .z_pager_head {
    .base-button;
  }
  .z_pager_prev {
    .base-button;
  }
  .z_pager_next {
    .base-button;
  }
  .z_pager_last {
    .base-button;
  }

  .z_pager_page {
    .base-button;
  }
  .z_pager_page.z_pager_cur {
    background: #337ab7;
    color: #ffffff;
  }
}