<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="http://s2.qhimg.com/!04bd6e23/reset.css"/>
    <link rel="stylesheet" href="public/pager.css"/>
    <!--
    <link rel="stylesheet" href="static/pager.css"/>
    -->
    <title>zippo react component-pager</title>
    <style>
        body {
            background: #ffffe4;
        }
        .book {
            background: #ffffff;
            width: 900px;
            height: 600px;
            margin: 20px;
        }
        .content {
            height: 500px;
        }
        .z_pager_container {
            margin: 50px;
        }
    </style>
</head>
<body>
<section id="root"></section>
<!--
<script src="static/pager.js"></script>
-->
<script src="public/pager.js"></script>
</body>
</html>